:root{
    --bg-color:#fbfbf9;
    --btn-color: #6459c4;
    --heading-font:'Playfair Display', serif;
    --seconday-font:'Poppins', sans-serif;
}
h1{
    font-family: var(--heading-font);
    font-size: 95px;
    font-weight: bold;
}
   
.hero{
    text-align: center;
    background-color: var(--bg-color
    );
    padding: 160px;
}
.hero p {
    font-size: 36px;
    font-weight: bold;
    color: #615d5d;
    font-family: var(--seconday-font);
    
}
.hero h2 {
    
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
   
}
.btn-brand{
    background-color: var(--btn-color);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 27px;
    padding: 16px 30px;
    margin: 40px;
}
.btn-secondary{
    background-color: white;
    border-radius: 4px;
    color: var(--btn-color);
    border-color: var(--btn-color);
    font-size: 20px;
    line-height: 27px;
    padding: 16px 30px;
    margin: 40px;

}
h2{
    font-family: var(--heading-font);
    font-size:70px;
    font-weight: bold;
   
}
h3{
    font-weight: 600;
    font-size: 20px;
}
nav img{
    max-height: 40px;
} 
nav li{
    display: inline;
    text-decoration: none;
}
nav{
    display: inline;
    padding-top: 0;
    margin-top: 1%;
}
nav a{
    text-decoration: none;
    color: #615d5d;
    margin-left: 15px;
}
nav a:hover,
nav a:active {
    text-decoration: underline;
    color: var(--btn-color);
}
.work h3{
    margin-top: 20px;
    font-size: 24px;
    font-family: var(--seconday-font);
    font-weight: 1000;
}
.work p, li{
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
    color: #615d5d;
    font-family: var(--seconday-font);
    
}
.content-container h1{
font-size: 64px;
line-height: 80px;
}

.content-container h2{
    font-size: 18px;
    line-height: 80px;
    font-family: var(--seconday-font);
    font-weight: bolder;
    }
    .content-container p{
            font-family: var(--seconday-font)
        }
.paragraph{
    font-family: var(--seconday-font);
    font-weight: normal;
    line-height: 30px;
    color: hsl(0, 1%, 52%);
}

.content-container img{
    border-radius: 20px;
}


footer p a{
    font-size: 12px;
    font-size: 25px;
    color: black;
}
footer li{
    font-size: 20px;
    display: inline;
    text-decoration: none;
    
   
}
footer a{
        text-decoration: none;
        color: var(--btn-color);
    }

    footer li a:hover{
        color: white;
        background-color: var(--btn-color);
        padding: 10px 15px;
 border-radius: 50px;
    }
    footer .inquiry{
        background-color: var(--bg-color);
    }
    footer h3{
        font-family: var(--heading-font);
        font-size: 25px;
    }
    footer p{
        font-family: var(--seconday-font);
        color: #615d5d;
    }

@media(max-width:960px){
    .detail{
        padding:0;
    }
    h1 {
        font-size: 80px;
    
    }
}
@media(max-width:900px){
    .detail{
        text-align: center;
    }
    .content-container{
        text-align: center;
    }
   
}